.footer {
  height: 100px;
  overflow: hidden;
  position: sticky;
  top: 100%;
}
.socialmedias {
  justify-content: center;
  padding: 0;
  list-style: none;
}
.socialmedias a {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 0.5rem;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: $white;
}
.socialmedias a:hover {
  color: $white;
}
