.newsContainer,
.news-nav-links,
.news-socialmedias a:hover {
    background-color: $red;
}

.news-socialmedias a {
    color: $red;
}

.news-wrapper {
    padding: 3rem 0rem;
    border-top: 1px solid $white;
}

.news-wrapper:last-child {
    border-bottom: 1px solid $white;
}

.news-wrapper p {
    font-size: 0.5rem;
    margin: 0 auto;
}

.news-wrapper h2,
.news-wrapper h3 {
    font-size: $font-sm;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .news-wrapper h2,
    .news-wrapper h3 {
        font-size: $font-md;
    }
}

@media screen and (min-width: 992px) {
    .news-container {
        padding: 1rem 6.5rem;
    }
    .news-wrapper p {
        font-size: 0.75rem;
    }
    .news-wrapper h2,
    .news-wrapper h3 {
        font-size: $font-lg;
    }
}